// Color
$color-primary: #FDE9DD;
$color-primary-light: #FCFBFC;
$color-primary-dark: #EA5857;

$color-grey-dark: #404040;
$color-black: #000;

$color-icon: #FECC68;

// Font
$default-font-size: 1.6rem;
